.sidebar {
  position: fixed;
  width: 68px;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #826DEB;
  transition: width 0.2s ease-in;
}

.page-content {
  margin-left: 68px;
  min-height: 100vh;
  background-color: #826DEB;
  transition: margin 0.2s ease-in;
}

.page-content.expanded {
  margin-left: 164px;
}

.page-inner-content {
  background-color:#F8F8FE;
  border-top-left-radius: 20px;
  padding: 58px;
  min-height: 100vh;
}

.page-inner-content-wrapper {
  height: 100%;
  overflow-y: auto;
}

.main-actions .action {
  color: #AFA2F2;
  font-size: 14px;
  position: relative;
  margin: 0 8px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  padding: 6px 14px;
  border-radius: 17.5px;
}

.main-actions .action img {
  width: 24px;
}

.sub-actions .action {
  position: relative;
  margin: 0 8px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px 14px;
  width: 52px;
}

.main-actions .action span {
  margin-left: 12px;
  visibility: hidden;
  transition: visible .2s ease-in;
}

.logo1 {
  margin-top: 38px;
  cursor: pointer;
}

.action.active {
  background-color: #584AA1;
  color: white;
}

.main-actions .action:not(:first-child) {
  margin-top: 46px;
}

.sub-actions .action:not(:first-child) {
  margin-top: 24px;
}

.main-actions {
  margin-top: 40px;
  margin-bottom: 40px;
}

.sub-actions {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rc-badge {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  bottom: -6px;
  right: 6px;
  font-size: 10px;
  color: #826DEB;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 12px;
  border-radius: 100%;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  color: #9a9a9a;
  margin-bottom: 8px;
}

.rc-link {
  color: #9a9a9a;
}

.page-title {
  color: #826DEB;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 16px;
}

.input-search {
  background-color: white;
  color: #434445;
  box-shadow: 0 0 2px 0 rgba(214,226,240,0.5) !important;
  height: 48px;
}

.page-action {
  height: 48px;
  margin-bottom: 32px;
}

.btn-search {
  margin-left: 16px;
  font-size: 10px;
  letter-spacing: 1.25px;
  padding: 16px 72px;
}

.page-subtitle {
  font-size: 24px;
  color: #23252B;
  font-weight: 600;
}

.page-subtitle-small {
  font-size: 14px;
  color: #434445;
  margin-bottom: 24px;
}

.table-radius {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 16px;
  margin-bottom: 32px;
}

.table th {
  font-size: 18px;
  line-height: 21px;
  border-top-width: 0;
  border-bottom-width: 0 !important;
  padding: 28px 20px;
}

.table td {
  padding: 8px 20px;
  font-size: 14px;
}

.text-success {
  color: #3FC46D !important;
}

.page-item {
  margin: 0 8px;
}

.page-link {
  border: none !important;
}

.page-item .page-link {
  color: #000;
}

.page-item.active .page-link {
  border: none;
  background-color: #826DEB !important;
  border-radius: 8px;
}

.page-link {
  box-shadow: none !important;
  background-color: #F8F8FE !important;
}

.page-link:hover {
  background-color: #F8F8FE !important;
  border: none !important;
}

.rc-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 32px;
}

.rc-card-title {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.rc-card-image {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rc-card-hero {
  font-size: 56px;
  font-weight: 700;
  color: #000;
}

.rc-card-content {
  font-size: 14px;
  color: #5f6064;;
}

.evenly {
  justify-content: space-evenly;
}

.rc-card {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 2px 0 rgba(214,226,240,0.5);
}

.rc-purple-alpha {
  background-color: #826DEB19;
}

.rc-warning-alpha {
  background-color: #ffb92e19;
}

.rc-danger-alpha {
  background-color: #ff337419;
}

.rc-primary-alpha {
  background-color: #2d8eff19;
}

.sidebar.expanded {
  width: 164px;
}

.sidebar.expanded .main-actions .action span {
  visibility: visible;
}