.sidebar {
  position: fixed;
  width: 68px;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #826DEB;
}

.page-content {
  margin-left: 68px;
  min-height: 100vh;
  background-color: #826DEB;
}

.page-inner-content {
  background-color:#F8F8FE;
  border-top-left-radius: 20px;
  padding: 58px;
}

.page-inner-content-wrapper {
  height: 100%;
  overflow-y: auto;
}

.action {
  position: relative;
  margin: 0 8px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo1 {
  margin-top: 38px;
}

.action.active {
  background-image: url('../assets/imgs/Menu/active icon.png');
}

.main-actions .action:not(:first-child) {
  margin-top: 46px;
}

.sub-actions .action:not(:first-child) {
  margin-top: 24px;
}

.main-actions {
  margin-bottom: 150px;
}

.sub-actions {
  margin-bottom: 20px;
}

.rc-badge {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  bottom: -6px;
  right: 6px;
  font-size: 10px;
  color: #826DEB;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 12px;
  border-radius: 100%;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  color: #9a9a9a;
  margin-bottom: 8px;
}

.rc-link {
  color: #9a9a9a;
}

.page-title {
  color: #826DEB;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 16px;
}

.input-search {
  background-color: white;
  color: #434445;
  box-shadow: 0 0 2px 0 rgba(214,226,240,0.5) !important;
  height: 48px;
}

.page-action {
  height: 48px;
  margin-bottom: 32px;
}

.btn-search {
  margin-left: 16px;
  font-size: 10px;
  letter-spacing: 1.25px;
  padding: 16px 72px;
}

.page-subtitle {
  font-size: 24px;
  color: #23252B;
  font-weight: 600;
}

.page-subtitle-small {
  font-size: 14px;
  color: #434445;
  margin-bottom: 24px;
}

.table-radius {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 16px;
  margin-bottom: 32px;
}

.table th {
  font-size: 18px;
  line-height: 21px;
  border-top-width: 0;
  border-bottom-width: 0 !important;
  padding: 28px 20px;
}

.table td {
  padding: 8px 20px;
  font-size: 14px;
}

.text-success {
  color: #3FC46D !important;
}

.page-item {
  margin: 0 8px;
}

.page-link {
  border: none !important;
}

.page-item .page-link {
  color: #000;
}

.page-item.active .page-link {
  border: none;
  background-color: #826DEB !important;
  border-radius: 8px;
}

.page-link {
  box-shadow: none !important;
}

.page-link:hover {
  background-color: white !important;
  border: none !important;
}