* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.bg-danger {
  background: #ffb92e;
}

.btn-primary {
  background-color: #6b5ac1;
}

.btn-primary:hover {
  background-color: #6b5ac1;
}

.btn-primary:active {
  background-color: #6b5ac1 !important;
}

.btn {
  box-shadow: none !important;
  outline: 0;
  border: none;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
}

.form-control {
  box-shadow: none !important;
  padding: 14px 16px;
  border: none;
  background-color: #f2f6fd;
  color: #25292c;
  font-size: 14px;
}

.form-control:focus {
  background-color: #f2f6fd;
}

.form-group {
  margin-bottom: 24px;
}

.text-normal {
  font-size: 14px;
}

.hero-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 16px;
  margin-bottom: 32px;
  color: #434445;
}

.step-progress {
  margin-bottom: 72px;
  height: 8px;
}
